<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Каталог</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="../static/favicon/favicon.ico"/>
    <link rel="icon" href="../static/favicon/favicon.ico"/>
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet"/>

    <!-- bootstrap -->
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="row stories">

    <div class="col-md-12">
        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
                Автор
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Author1</a></li>
                <li><a href="#">Author2</a></li>
                <li><a href="#">Author3</a></li>
                <li><a href="#">Author4</a></li>
            </ul>
        </div>
    </div>

    <!-- story item -->
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="holder.js/242x200" alt="..."/>
            <div class="media">
                <div class="media-body">
                    <h4 class="media-heading">Author</h4>
                    <p>Story Name</p>
                </div>
                <div class="media-right">
                    <a href="#" class="btn btn-success" role="button">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>Listen
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- /story item -->

</div> <!-- /stories -->
</body>
</html>