body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything gets side spacing for mobile first views */
.header,
.stories,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

a.logo:link, a.logo:visited, a.logo:hover, a.logo:active{
    text-decoration:none;
    color: gray;
}

/* Custom page header */
.header {
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h4 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.audio{
    align-content: center;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
.container > hr {
    margin: 20px 0;
}

/* Supporting stories content */
.stories {
    margin: 40px 0;
}
.stories p + h4 {
    margin-top: 28px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.dropdown{
    margin-bottom: 15px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .stories,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 20px;
    }
}