<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Диктант</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="../static/favicon/favicon.ico"
          th:href="@{/favicon/favicon.ico}"/>
    <link rel="icon" href="../static/favicon/favicon.ico"
          th:href="@{/favicon/favicon.ico}"/>
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet"/>

    <!-- bootstrap -->
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

</head>

<body>

<div class="container">

    <div th:replace="fragments/header :: header"></div>

    <div class="row stories" th:if="${not #lists.isEmpty(stories)}">

        <div class="col-md-12">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    Автор
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="/">Все авторы</a></li>
                    <li role="separator" class="divider"></li>
                    <li th:each="author : ${authors}"><a th:href="${'/filter/' + author}" th:text="${author}">Author</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- story item -->
        <div class="col-sm-6 col-md-4" th:each="story : ${stories}">
            <div class="thumbnail">
                <a th:href="${'/story/' + story.id}">
                    <img th:src="${'/image/' + story.id}" class="img-rounded"/>
                </a>
                <div class="media">
                    <div class="media-body">
                        <h4 class="media-heading" th:text="${story.author}">Author</h4>
                        <p th:text="${story.name}">Story Name</p>
                    </div>
                    <div class="media-right">
                        <a th:href="${'/story/' + story.id}" class="btn btn-success" role="button">
                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /story item -->

    </div> <!-- /stories -->

    <footer class="footer"><p>© 2016 Garage Cooperative, Inc.</p></footer>

</div> <!-- /container -->

</body>
</html>