<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Диктант</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="shortcut icon" href="../static/favicon/favicon.ico"/>
    <link rel="icon" href="../static/favicon/favicon.ico"/>
    <link href="../static/css/core.css"
          th:href="@{/css/core.css}"
          rel="stylesheet"/>

    <!-- bootstrap -->
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.2.1/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.6/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>

</head>
<body>

<div class="container">

    <div th:replace="fragments/header :: header"></div>


    <div class="thumbnail" style="text-align: center">
        <form class="form-signin" th:action="@{/login}" method="post">
            <h2 class="form-signin-heading">Войти:</h2>
            <div class="alert alert-danger" role="alert" th:if="${param.error}">
                Неправильное имя пользователя или пароль.
            </div>
            <label class="sr-only" for="inputUsername">Username</label>
            <input type="text" name="username" class="form-control" id="inputUsername" placeholder="username"/>
            <label class="sr-only" for="inputPassword">Password</label>
            <input type="password" name="password" class="form-control" id="inputPassword" placeholder="password"/>
            <button class="btn btn-lg btn-success btn-block" type="submit">Войти</button>
        </form>
    </div>


    <footer class="footer"><p>© 2016 Garage Cooperative, Inc.</p></footer>

</div> <!-- /container -->

</body>
</html>